@page "/test"

<div class="mb-4">
    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center">
        <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2"><h1 class="text-dark fw-bolder my-1 fs-2" tabindex="-1">Students (Shared)</h1></div>
        <div class="d-flex align-items-center flex-nowrap text-nowrap py-1"><a href="/students/create" class="btn btn-sm btn-primary"><i class="bi bi-plus"></i> Create student</a></div>
    </div>
</div>

<div class="">
    <table id="AR06R6D244EFN" class="table table-hover table-bordered table-striped" _bl_22="">
        <thead><tr><th><span class="me-2">Student</span></th><th><span class="me-2">Parent / Gaurdian</span></th><th><span class="me-2">DOB</span></th><th><span class="me-2">Email</span></th><th><span class="me-2">Phone Number</span></th></tr></thead><!--!-->
        <tbody>
            <tr class="" role="">
                <td><a href="/students/1">Badri</a></td>
                <td>Vikram</td>
                <td>11/Aug/2014</td>
                <td>badri@demoschool.com</td>
                <td>
                    <!--!-->
                    +91 9988000001
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/2">Sara Price</a></td>
                <td>Wallace Villarreal</td>
                <td>14/Dec/2022</td>
                <td>auctor.nunc@demoschool.com</td>
                <td>
                    <!--!-->
                    +91 3312652213
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/3">Otto Guerrero</a></td>
                <td>Rowan Espinoza</td>
                <td>06/May/2021</td>
                <td>pede.nunc.sed@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 6862834417
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/4">Alexander Clements</a></td>
                <td>Deborah Crawford</td>
                <td>11/Jun/2019</td>
                <td>adipiscing.lobortis.risus@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 4858387169
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/5">Imani Griffin</a></td>
                <td>Georgia Jordan</td>
                <td>06/Nov/2023</td>
                <td>nisl.sem@demoschool.com</td>
                <td>
                    <!--!-->
                    +91 6935362776
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/6">Clio Mayer</a></td>
                <td>Grady Montgomery</td>
                <td>21/Oct/2015</td>
                <td>adipiscing@demoschool.com</td>
                <td>
                    <!--!-->
                    +91 7502537538
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/7">Dora Schneider</a></td>
                <td>Zelenia Bradshaw</td>
                <td>02/May/2020</td>
                <td>phasellus.elit@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 1814782018
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/8">Finn Sykes</a></td>
                <td>Jolene Garrett</td>
                <td>08/Nov/2013</td>
                <td>nunc.sit.amet@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 5175663308
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/9">Adena Graves</a></td>
                <td>Ezekiel Dawson</td>
                <td>19/Jul/2022</td>
                <td>penatibus@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 8125794776
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/10">Kermit Calderon</a></td>
                <td>Sybil James</td>
                <td>27/Jun/2014</td>
                <td>dui.lectus.rutrum@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 3842847266
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/11">Erica Schneider</a></td>
                <td>Marvin Larson</td>
                <td>10/Aug/2017</td>
                <td>iaculis.nec.eleifend@demoschool.com</td>
                <td>
                    <!--!-->
                    +91 2476344181
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/12">Brandon Quinn</a></td>
                <td>Ayanna Petty</td>
                <td>24/Dec/2023</td>
                <td>neque.non@demoschool.com</td>
                <td>
                    <!--!-->
                    +91 7419474114
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/13">Ava Roman</a></td>
                <td>Yoko Cote</td>
                <td>01/Apr/2014</td>
                <td>non.lobortis@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 2713676729
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/14">Nash Carroll</a></td>
                <td>Perry Frazier</td>
                <td>12/Mar/2023</td>
                <td>sit.amet.consectetuer@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 4452322645
                </td>
            </tr>
            <tr class="" role="">
                <td><a href="/students/15">Lacy Bowen</a></td>
                <td>Wayne Phelps</td>
                <td>21/Sep/2013</td>
                <td>est.ac@demoschool.com</td>
                <td>
                    <!--!-->
                    +1 3317336534
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between align-middle mt-2">
    <!--!--><nav aria-label="Pagination links">
        <ul class="pagination justify-content-start" role="button">
            <!--!-->
            <li class="page-item disabled"><!--!--><a class="page-link"><span aria-hidden="true"><!--!--><i class="bi bi-chevron-double-left"></i></span></a></li><!--!-->
            <!--!-->
            <li class="page-item disabled"><!--!--><a class="page-link"><span aria-hidden="true"><!--!--><i class="bi bi-chevron-left"></i></span></a></li><!--!-->
            <li class="page-item active" aria-current="page"><!--!--><a class="page-link">1</a></li><!--!-->
            <li class="page-item"><!--!--><a class="page-link">2</a></li><!--!-->
            <li class="page-item"><!--!--><a class="page-link">3</a></li><!--!-->
            <li class="page-item"><!--!--><a class="page-link">4</a></li><!--!-->
            <li class="page-item"><!--!--><a class="page-link">5</a></li><!--!-->
            <li class="page-item"><!--!--><a class="page-link"><span aria-hidden="true"><!--!--><i class="bi bi-three-dots"></i></span></a></li><!--!-->
            <li class="page-item"><!--!--><a class="page-link"><span aria-hidden="true"><!--!--><i class="bi bi-chevron-right"></i></span></a></li><!--!-->
            <!--!-->
            <li class="page-item"><!--!--><a class="page-link"><span aria-hidden="true"><!--!--><i class="bi bi-chevron-double-right"></i></span></a></li>
        </ul>
    </nav><div class="bb-grid-pagination-text">1 - 15 of 250 items</div>
</div>
